.DS_Store
node_modules
/dist
env.local.sh

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Not Zero-Installs
#.yarn/*
#!.yarn/releases
#!.yarn/plugins
#!.yarn/sdks
#!.yarn/versions
#.pnp.*

# Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
